/* Navbar */
.nav-item{
    padding:1% 2% 0 2%;
}
.nav-link{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bolder;
}

/* Title */
#title h1{
    font-size: 8rem;
    color: white;
    font-family: 'Cedarville Cursive', cursive;
}
#title h4{
    color: white;
}
#title{
    background-color: black;
     width: 100%;
    height: 100%;
}
.titleRow{
    margin: 10% auto 0 auto;
    padding-bottom: 10%;
    text-align: center;
}
.eatBtn{
    margin: 2% 3% 5% 3%;
}
.titleImg{
    height: 400px;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 7rem; 
    font-weight: bolder;
}
h4{
    color: grey;
}

/* Varieties */
#varieties{
    background-color: lightgray;
    padding: 25px;
}
#varieties h1{
    color: black;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5rem;
    padding: 2% 0 2% 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.main{
  max-width: 1200px;
  margin: 0 auto;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards_item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card_content {
  padding: 1rem;
  background:lightgray;
}
.card_title {
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}
.card:hover{
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 1);
}


/* Speciality */
#speciality{
    background-color: whitesmoke;
    padding: 3% 2% 2% 2%;
}
#speciality p{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    width: 100%;
    height: 100%;
}
.specialityRow{
    width: 70%;
}
.specialityImg{
    width: 15rem;
    margin: auto;
    border-radius: 10%;
    align-items: center;
}
.skillRow{
    width: 70%;
    margin: auto;
    margin: 50px auto 50px auto;
    text-align: center;
    line-height: 2;
}
.speciality-Img{
    width: 80%;
}

/* Services */
#services{
    background-color:whitesmoke;
    width: 100%;
    height: 100%;
}
#services h1{
    font-weight: bold;
    font-size: 4rem; 
    text-align: center;
    padding:8% 0 4% 0; 
    color: black;
}
#services h3{
    color: black;
}
.serviceImg{
    height: 100px;
    margin: 8% 0 8% 0;
}
.serviceText{
    padding: 10% 0 10% 0;
}

/* Reviews */
#testimonials{
    text-align: center;
    background-color: black;
    color: black;
    margin: none;
}
.testimonial-image{
    width: 10rem;
    border-radius: 100%;
    padding: 20px;
}
#testimonials h1{
    color: white;
    font-weight: bold;
    font-size: 4rem; 
    text-align: center;
    padding:2% 0 2% 0;
}
#testimonials p{
    color: white;
}
#testimonials h2{
    color: white;
    text-align: center; 
    line-height: 2;
}
.carousel-item{
    padding: 7% 15%;
}
.feature-row{
    margin: 3% 0 0 0;
    text-align: center;
    padding: 5% 15%;
}

/* About */
#about{
    background-color: black;
    color: white;
    padding-top: 5%;
    padding-bottom: 6%;
}
#about table{
   margin: 0%;
}
#about h1{
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    font-weight: bold;
    font-size: 6rem; 
    margin:3% auto 0 auto;
}
.aboutBucket{
    margin: 5% 0 0 10%;
    height: 200px;
}
.aboutRow{
    margin:0 auto 0 auto;
    width: 90%;
    padding-top: 2%;
}
.rowUl{
    list-style: none;
}
.social{
    text-align: left;
}
.socialImg{
    padding-bottom: 5%;
    height: 30px;
}
#footer p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
}
#footer a{
    color: black;
}
#footer h4{
    color: white;
    text-align: center; 
    padding-bottom: 1%;
}
#footer{
    background-color:lightgray;
}
